# Entornos de Python
__pycache__/
*.py[cod]
*.pyo

# Entornos de Virtualenv
env/
venv/

# TensorFlow y datos
*.tflite

datasets/
uploads/

# Archivos de log
*.log

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
# Obsolete
.pub/

# Android related
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/.idea
**/android/app/build/

# iOS related
**/ios/Flutter/.last_build_id
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.framework
**/ios/Flutter/app.icns
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# Xcode related
**/ios/Runner.xcworkspace/
**/ios/Runner.xcodeproj/project.xcworkspace/
**/ios/Runner.xcodeproj/xcuserdata/
**/ios/Runner.xcodeproj/project.xcworkspace/xcuserdata/
**/ios/Runner.xcodeproj/xcshareddata/
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/Flutter/Flutter.podspec

# VS Code related
.vscode/

# MacOS related
**/macos/Flutter/ephemeral/
**/macos/Flutter/Flutter.podspec
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/ephemeral/.plugin_symlinks
**/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
